/* Overrides and customizations */

.passwordless-link {
  text-decoration: underline;
  color: unset;
  cursor: pointer;
  /* color: var(--bs-primary-text-emphasis); */
  /* color: var(--passwordless-secondary-text); */
}

button.passwordless-link {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  /* padding-top: 0.375rem;
  padding-bottom: 0.375rem; */
  /* padding: 0; */
}

.passwordless-link:hover {
  /* color: var(--passwordless-primary); */
  color: white;
}

.passwordless-link-clicked {
  text-decoration: underline;
  color: unset;
  cursor: unset;
}

.menu-link {
  color: unset;
  cursor: pointer;

}

.nav-link:hover {
  /* color: var(--passwordless-primary); */
  /* color: white; */
  text-decoration: underline;
}

.navLink.dropdown-item.active {
  color: unset;
  text-decoration: underline;
  background-color: unset;
  /* background-color: #1877F2; */
}

/* .navbar {
  font-family: 'Roboto', sans-serif;
  background-color: #1877F2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

body {
  margin-top: 65px;
}

.navLink {
  color: #c9c1c1;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navLink:hover {
  /* background-color: #fff; */
  /* color: unset; */
  color: var(--bs-secondary-text-emphasis);
}

.dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}

.link-no-blue {
  color: unset;
}


.accordion-card-bottom > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
.accordion-card-bottom:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-bottom:first-of-type > .accordion-item > .accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-bottom > .accordion-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-bottom > .accordion-item > .accordion-header .accordion-button, .accordion-card-bottom > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}


.accordion-card-middle > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
.accordion-card-middle:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-middle:first-of-type > .accordion-item > .accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-middle > .accordion-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-middle > .accordion-item > .accordion-header .accordion-button, .accordion-card-middle > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}