/* Overrides and customizations */
@font-face {
  font-family: 'TopSecret';
  src: local('TopSecret'), url('./assets/fonts/TopSecret.ttf') format('truetype');
}

.passwordless-link {
  text-decoration: underline;
  color: unset;
  cursor: pointer;
  /* color: var(--bs-primary-text-emphasis); */
  /* color: var(--passwordless-secondary-text); */
}

button.passwordless-link {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  /* padding-top: 0.375rem;
  padding-bottom: 0.375rem; */
  /* padding: 0; */
}

.passwordless-link:hover {
  /* color: var(--passwordless-primary); */
  color: white;
}

.passwordless-link-clicked {
  text-decoration: underline;
  color: unset;
  cursor: unset;
}

.menu-link {
  color: unset;
  cursor: pointer;

}

.nav-link:hover {
  /* color: var(--passwordless-primary); */
  /* color: white; */
  text-decoration: underline;
}

.navLink.dropdown-item.active {
  color: unset;
  text-decoration: underline;
  background-color: unset;
  /* background-color: #1877F2; */
}

/* .navbar {
  font-family: 'Roboto', sans-serif;
  background-color: #1877F2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* body {
  margin-top: 65px;
} */

.margin-top-65 {
  margin-top: 65px;
}

.margin-top-58 {
  margin-top: 58px;
}

.topsecret {
  font-family: 'TopSecret';
  /* text-shadow: 1px 1px 5px black; */
  text-shadow: 2px 2px 2px black;
  filter: drop-shadow(0 0 1rem black);
  font-size: 2rem;
}

.navLink {
  color: #c9c1c1;
  font-weight: 300;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.navLink:hover {
  /* background-color: #fff; */
  /* color: unset; */
  color: var(--bs-secondary-text-emphasis);
}

.dropdown-menu {
  --bs-dropdown-min-width: 7rem;
}

.link-no-blue {
  color: unset;
}


.accordion-card-bottom > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
.accordion-card-bottom:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-bottom:first-of-type > .accordion-item > .accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-bottom > .accordion-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-bottom > .accordion-item > .accordion-header .accordion-button, .accordion-card-bottom > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}


.accordion-card-middle > .accordion-item {
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
}
.accordion-card-middle:first-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-middle:first-of-type > .accordion-item > .accordion-header .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-middle > .accordion-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-card-middle > .accordion-item > .accordion-header .accordion-button, .accordion-card-middle > .accordion-item > .accordion-header .accordion-button.collapsed {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* .form-control.is-valid{
  background-image: none;
  outline: green;
  padding-right: inherit;
} */
/* .form-select.is-valid{
  background-image: none;
  outline: green;
  background-position: none; */
  /* padding-right: inherit; */
  /* padding-right: 2.25rem; */
  /* padding: inherit; */
  /* background-size: inherit;
  background-position-x:  right 0.75rem, right 0.75rem */
/* } */
/* .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
  padding-right: inherit;
} */

/* .no-validate-badge, .no-validate-badge .form-select.is-valid:not([multiple]):not([size]) {
  background-image: none !important;
  padding-right: inherit !important;
} */
/* .no-validate-badge, .no-validate-badge .form-select.is-valid:not([multiple]):not([size]) {
  background-image: none ;
  padding-right: inherit ;
  background-position: none ;
} */
/* 
.was-validated .custom-select:valid {
  background-image: none;
}
.form-select.is-valid:not([multiple]):not([size]) {
  background-image: none;
}
.form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"], .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"] {
  background-image: none;
}

.was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
  --bs-form-select-bg-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
  padding-right: none;
  background-position: right 0.75rem center, center right 0.75rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
} */