/* Overrides and customizations */

.passwordless-link {
  text-decoration: underline;
  color: unset;
  cursor: pointer;
  /* color: var(--bs-primary-text-emphasis); */
  /* color: var(--passwordless-secondary-text); */
}

button.passwordless-link {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0.375rem;
  padding-left: 0.375rem;
  /* padding-top: 0.375rem;
  padding-bottom: 0.375rem; */
  /* padding: 0; */
}

.passwordless-link:hover {
  /* color: var(--passwordless-primary); */
  color: white;
}

.passwordless-link-clicked {
  text-decoration: underline;
  color: unset;
  cursor: unset;
}